/*In this file we are setting our typography style*/
@import "_variables.scss"; /*importing varibles to use the main value of $colors */

.char-highlight {
  font-weight: bold;
  font-size: 1.4rem;
  color: map-get($colors, main);
}
